:root {
    --highlight-color: #f38c43;
}

.options-box {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    width: fit-content;
    margin: auto;
}

.options-element-box {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap:1rem;
    padding-left: 1rem;
    padding-right: 1rem;

}

.br {
    border-right: 1px solid #e0e0e0;
}

.toggle-switch {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}


.input-field {
    text-align: center;
    width: 50%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.page-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 5%;
    padding: 20px;

}

.toggle-option {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: all 0.3s ease;
}

.toggle-option.selected {
    background-color: var(--highlight-color); /* Orange color */
    color: white;
}

.toggle-option:not(.selected):hover {
    background-color: #e0e0e0;
}

/* Pricing Table */
.pricing-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5%;
    overflow: hidden;
    background: linear-gradient(to bottom, #d3d3d3, #ffffff); /* Grey to white gradient */
    position: relative;
    z-index: 1;
}

.pricing-table thead {
    background: white !important;
    border: none;
}

.pricing-table th {
    border-right: none;
}

.pricing-table td {
    padding: 10px;
    text-align: center;
    border-right: 1px solid #e0e0e0;
}

.pricing-table th:last-child,
.pricing-table td:last-child {
    border-right: none;
}

.best-value {
    border: 2px solid var(--highlight-color) !important; /* Orange color */
    border-bottom: none !important;
    border-radius: 5px;
    margin: 2px;
}

.best-value-badge {
    background-color: var(--highlight-color); /* Orange color */
    color: white;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    text-align: center;
}

.best-value-offer {
    border-right: 2px solid var(--highlight-color) !important;
    border-left: 2px solid var(--highlight-color) !important;
    border-radius: 5px;
    margin: 2px;
}

tr:last-child .best-value-offer {
    border-bottom: 2px solid var(--highlight-color) !important;
}

.table-head {
    height: auto;
    min-height: 150px;
    position: relative;
}

.best-value-cta {
    background-color: var(--highlight-color); /* Orange color */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    padding: 5px 10px;
    border: 2px solid var(--highlight-color);
}

.cta {
    padding: 5px 10px;
    background-color: white; /* Orange color */
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid var(--highlight-color);
    width: 50%;
    color: var(--highlight-color)
}

.cta:hover {
    background-color: #d9752d;
}

.icon {
    font-size: 1.2em;
}

table {
    background: linear-gradient(grey, white);
}

td:first-child {
    background: transparent;
}

.best-value.table-head {
    height: 270px;
}

.internal-offer-head {
    display: flex;
    justify-content: space-between;
align-items: center;
    flex-direction: column;
    gap: 1rem;
    min-height: 150px;
}


.pricing-texts {
    min-height: 48px;
    text-align: center;
}
