@font-face {
  font-family: 'brandon-regular';
  src: url(https://jazzhr-dev.prod.limio.com/public/549e7ce9-5ed1-4c10-9302-6105c1c879ec/HVD%20Fonts%20-%20BrandonText-Regular.otf) format('opentype');
}

body {
  font-family: "brandon-regular", Helvetica, sans-serif;
  font-size: 1.25rem;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.li-no {
  list-style-type: none;
  padding-inline-start: 0;
}

.h-100 {
  height: 100vh !important;
}

.bg-grey {
  background-color: #F4F5F7;
}

.bg-white {
  background-color: #fff;
}

.m-2 {
  margin: 2rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.m-all-2 {
  margin: 2rem 2rem 2rem 2rem;
}

.button {
  background-color: #01AEDF;
  border: none;
}

.justify-center {
  justify-content: center;
}

/* Base table styles */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1rem;
  text-align: left;
}

/* Header styles */
.styled-table thead th {
  padding: 12px 15px;
  text-transform: uppercase;
}

/* Single border underneath the header */
.styled-table thead {
  border-bottom: 2px solid #5a6673;
}

/* Body styles */
.styled-table tbody td {
  padding: 12px 15px;
}

.px-18 {
  font-size: 18px;
}

